* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #fac7f0; /* Cor de fundo personalizada */
}

/* Navbar */
.navbar {
    background-color: #111; /* Mantém a cor personalizada */
}

/* Logo */
.logo img {
    width: 150px; /* Tamanho personalizado da logo */
}

/* Botão personalizado */
.btn {
    background-color: rgb(200, 16, 16);
    transition: 0.5s;
    animation: blink 1s infinite; /* Animação personalizada */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.btn:hover {
    background-color: rgb(104, 12, 99);
}

/* Showcase */
.showCase {
    background-image: url('../gallery/surtido.jpeg');
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(15, 9, 12, 0.5);
    background-blend-mode: color;
    color: rgb(203, 32, 152);
}

.title h1 {
    font-size: 4rem;
    text-shadow: 0 0 20px black;
}

.title p {
    font-size: 2rem;
    color: #eee;
    text-shadow: 0 0 20px black;
}

/* Produtos */
#produtos {
    background-color: #222;
}

.produtos {
    background-color: rgb(245, 121, 224);
}

/* Sobre */
.containerSobre {
    background-color: #fac7f0;
    box-shadow: 0 10px 25px #ddd6dc;
}

.containerSobre h1 {
    color: violet;
}

.containerSobre img {
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.abaut {
    background-color: #f579e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

/* Galeria */
.fotos img {
    border-radius: 14px;
}

/* Footer */
footer {
    background-color: #222;
}

/* Dialog */
dialog {
    border: none;
    width: 80%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.677);
}

iframe {
    border: none;
    width: 100%;
    height: 90%;
}

/* Social Media Links */
.clients-container a:hover,
.redes-sociais a:hover {
    color: violet;
}

/* Feedback */
.tagembed-socialwall {
    background-color: #f579e0;
}
