/* style.css */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo-nav {
  width: 40px;
  margin-right: 10px;
}

.showcase {
  background: url('../gallery/homer.png') no-repeat center /cover; 
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.logo-header {
  width: 150px;
  margin-bottom: 20px;
}
.col-md-6 img{
  height: 75%;
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.social-links i {
  transition: transform 0.3s;
}

.social-links i:hover {
  transform: scale(1.2);
}

.galeria img {
  transition: transform 0.3s;

}
#feedback {
  padding-top: 2rem; /* Equivalente a py-3, mas ajustável */
  padding-bottom: 2rem;
}

#feedback h2 {
  margin-bottom: 1rem; /* Equivalente a mb-2 */
}

#feedback .text-center {
  margin-bottom: 1rem; /* Equivalente a mb-2 */
}

.tagembed-container {
  max-height: 300px; /* Define uma altura máxima para o widget */
  overflow-y: auto; /* Adiciona scroll se o conteúdo exceder */
}

.galeria img:hover {
  transform: scale(1.05);
}
#galeria img {
  transition: transform 0.3s;
  width: 400px;
  height: 300px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .showcase {
      height: 70vh;
  }
  
  .logo-header {
      width: 100px;
  }
  
  .navbar-nav {
      text-align: center;
  }

  body.dark-mode .navbar-toggler {
    
    border-color: #eeedf0; /* Cor da borda */
}

body.dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(187, 134, 252, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #1f1f1f;
}

body.dark-mode .card {
  background-color: #1f1f1f;
  color: #ffffff;
}

body.dark-mode .nav-item a:hover {
  color: #bb86fc;
}

body.dark-mode .bg-light {
  background-color: #1f1f1f !important;
}

body.dark-mode .bg-dark {
  background-color: #000000 !important;
}

body.dark-mode a {
  color: #ebebeb;
}

body.dark-mode .btn-outline-primary {
  border-color: #bb86fc;
  color: #f0f0f0;
}

body.dark-mode .btn-outline-primary:hover {
  background-color: #06023b;
  color: #f0f0f0;
}